*{
    margin: 0;
    background-color: rgb(188, 249, 249);
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
.head{
    height: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
}
.input1,.input2{
    margin:12px 0px;
}
.inputInst1,.inputInst2{
    margin: 6px 0px;
}
input{
    background-color: white;
}
.inputbox{
    display: flex;
    justify-content: center;
}
.ui{
    height: 150px;
    width: 70%;
    justify-content:  space-between;
    display: flex;
    text-align: center;
    margin: 18px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img{
    width: 120px;
    height: 120px;
    border: 2px solid rgb(223, 156, 156);
    border-radius:5px ;
}
.vs{
    display: flex;
    align-items: center;
    font-size: 50px;
}